.steps-content {
    min-height: 200px;
    margin-top: 16px;
    padding-top: 80px;
    text-align: center;
    background-color: white;
    border: 1px dashed #e9e9e9;
    border-radius: 20px;
    height: 80%;
  }
  
  .steps-action {
    margin-top: 24px;
  }
  .planFormulateContainer {
      height: 100%;
      width: 100%;
      padding: 50px;
      background-color:rgba($color: #e4e4e4, $alpha: 1.0);
  }