.testContainer {
    background-color:rgba($color: #e4e4e4, $alpha: 1.0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.upContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50%;
}
.chartContainer  {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    width: 35%;
    height: 90%;
}
.insertContainer {
    background-color: white;
    margin: 20px;
    padding-top: 50px;
    border-radius: 10px;
    width: 60%;
    height: 90%;
}
.taskChartLabel {
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
}
.downContainer {
    background-color: white;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    height: 50%;
}
